.NavBar{
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

h3{
    color: white;
    text-decoration: none;
    
}

a.Option{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 30px;
    font-size: 30px;
    transition-duration: 2seg;

}
a.Option:hover{
    color: red;
    }